
:root{
    --color-header: #006b33; 
    --color-footer: #003300;
    --color-fondo-texto: rgba(0,107,51,0.75);
    --color-texto:#FFF;

    --color-nav:#7e962b;
    --color-fondo:#c3c6c8;
    --color-fondoBoton:#898b8c;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-header);
}
#textoHeader{
    color:var(--color-texto);
}
#logo{
    width: 4rem;
}

#slider{
    margin: 0.5rem 0;
	display: flex;
    width: 100%;
    height: 60vh;
    scroll-snap-type: x mandatory;

    overflow-x: scroll;
    overflow-y: hidden;
}
#slider img{
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}

#info{
    background-color: var(--color-fondo);
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}
#valoracion{
    margin: 0 1rem;
    display: flex;
    justify-content: space-evenly;
}
#valoracion > img{
    width: 30%;
}
#precio{
    padding: 0.5rem 0;
    font-size: 2rem;   
}
#localizacion{
    padding: 0.5rem 0;
}
#mapa{
    display: none;
}
#iconos{
    margin: 1rem 0;
}
.icon{
    display: flex;
    align-items: center;
}
.icon > i ~ i{
    margin-left: 0.4rem;
}
#formulario{
    padding: 0.5rem 1rem;
    background-color: var(--color-fondoBoton);
}
#formulario > form{
    width: 100%;
    display: grid;
    grid-template-columns: 6rem 1fr;
    row-gap: 0.6rem;
}
#formulario > form > button:invalid{
    border:2px solid red;
}
#formulario > form > button:valid{
    border:2px solid green;
}
#formulario > form > button{
    grid-column: 2/3;
}
#botonReservar{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-texto);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--color-header);
    border-color: var(--color-footer);
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
}
footer{
    background-color: var(--color-footer);
    min-height: 2vh;
}
/* Diseño tablet */
@media (min-width: 600px) {
    #tituloCasaRural{
        order: -1;
        text-align: center;
    }
    #slider{
        padding: 1rem;
        margin: 0 auto;
        width: 85%;
    }
    #grupoValPreLoc{
        margin: 0 auto;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    #valoracion{
        order: 2;
        align-items: center;
    }
    #valoracion > img{
        width: 10rem;
    }
    #precio{
        order: 3;
    }
    #localizacion{
        order: 1;
    }
    #iconos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    #tituloForm{
        padding:0.5rem;
        text-align: center;
    }
    #formulario > form{
        margin: 0 auto;
        width: 50%;
    }
    #botonReservar{
        width: 50%;
        justify-self: center;
    }
}
/* Diseño de monitor */
@media (min-width: 1025px) {
    #slider{
        height: 75vh;
    }
    #iconos{
        padding: 0.5rem;
        width: 85%;
        margin: 0 auto;
        grid-template-columns: repeat(3,1fr);
    }
    #botonReservar{
        width: 30%;   
    }
    #mapa{
        display: block;
    }
    #mapa > img{
        width: 100%;
    }
    #bloqueDescripcion{
        margin: 0 auto;
        width: 85%;
        display: flex;
    }
    .descripcion{
        font-size: 1.2rem;
    }
}