:root{
    --color-header: #006b33; 
    --color-footer: #003300;
    --color-fondo-texto: rgba(0,107,51,0.75);
    --color-texto:#FFF;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: var(--color-header);
    min-height: 3vh;
}
#principal{
    min-height: 57vh;
    background-image: url("../imagenes/slider1.jpg");
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2fr,2);
}
#texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span{
    padding: 0.25rem;
    color:var(--color-texto);
    background-color: var(--color-fondo-texto);
    font-size: 2.8rem;
    border-radius: 15px;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#empezarSection{
    min-height: 38vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonEmpezar{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-texto);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--color-header);
    border-color: var(--color-footer);
    border-width: 3px;
    border-style: solid;
    border-radius: 35px;

    animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#botonEmpezar:hover{
    transform:scale(1.1);
}

footer{
    background-color: var(--color-footer);
    min-height: 2vh;
}
/* Diseño tablet */
@media (min-width: 600px) {
    #principal{
        background-size: cover;
        min-height: 72vh;
    }
    #empezarSection{
        min-height: 23vh;
    }
    #logo > img{
        width: 40vw;
    }
    #texto > span{
        font-size: 5rem;
    }
    #botonEmpezar{
        font-size: 3rem;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 50px;
        padding-right: 50px;
        border-width: 5px;
        border-radius: 55px;
    }
}
/* Diseño de monitor */
@media (min-width: 1025px) {
    #logo > img{
        width: 25vw;
    }
    #principal{
        background-image: url("../imagenes/slider2.jpg");
        background-size: cover;
        background-position: 0 40%;
        min-height: 65vh;
    }
    #empezarSection{
        min-height: 30vh;
    }
}
